.CommentsSection{
    position: absolute;
    top: 25%;
    left: 2.5%;
    width: 95%;
    height: 74.7%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 4px 15px 2px rgba(0,0,0,0.73);
}

.CommentSectionClose{
    margin: 10px 0 2px 30px;
    background-color: white;
}

.CommentsList{
    border-top: 2px solid rgb(163, 3, 110);
    height: 85.5%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px;
}

.CommentsList::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}