.Comment{
    height: 150px;
    border-bottom: 2px solid rgb(163, 3, 110);
}

.CommentText{
    margin-top: 5px;    
    align-self: center;
}



.CommentButtons{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 2px auto;
    height: 30px;
    justify-content: space-around;
}

.CommentButtons button{
    width: 20%;
    margin: 20px;
}