.Comment{
    border-bottom: 2px solid rgb(163, 3, 110);
}

.CommentText{
    margin-top: 5px;
    font-size: large;
}

.CommentDate{
    font-size: small;
    margin-top: -16px;
}

.CommentButtons{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 2px auto;
    height: 30px;
    justify-content: space-around;
}

.CommentButtons button{
    width: 20%;
}