.LoginPage {
    margin: 250px auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;}

.LoginInput{
    height: 30px;
    width: 350px;
    padding: 10px;
    border: 2px solid rgb(163, 3, 110);
    margin-right: 15px;
    outline: none;
}

.LoginButton{
    color: white;
    background-color: rgb(163, 3, 110);
    border: none;
    width: 75px;
    height: 50px;
}

.LoginButton:hover{
    background-color: rgb(163, 3, 110);
}

.LoginWarning{
    position: fixed;
    top: 60px;
    color: red;
}