.Pagination{
    display:flex;
    justify-content: space-around;
    margin-bottom: 30px;
    color: rgb(163, 3, 110);
    border-top: 2px solid rgb(163, 3, 110);
    padding-top: 10px;
}

.MainPagePagination div:hover{
    cursor: pointer;
}

.Active{
    color: red;
}