.PostCommentsModal{
    width: 40%;
    height: 40%;    
    position: fixed;
    top: 250px;
    left: 33.3%;
    background-color: rgb(163, 3, 110);
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 4px 15px 2px rgba(0,0,0,0.73);
    z-index: 100;
}

.PostCommentsModal h4{
    color: white;
}

.PostCommentsModal input{
    height: 26px;
    width: 50%;
    padding: 8px;
    outline: none;
}

.PostCommentsModal button {
    border-radius: 20px;
}