.SearchBar{
    width: 50%;
    margin: 30px auto;
    padding-left: 100px;
}

.SearchBarInput{
    width: 80%;
    margin: 0 auto;
    height: 18px;
    padding: 8px;
    border: 2px solid rgb(163, 3, 110);
    outline: none;
}